<details>
<summary>English Translation</summary>
<br>
<ul>
  <li>Maintenance Procedures
    <ul>
      <li>How to maintenance  (using <code>data-test-id</code>, setting cookie, etc.): <a href="https://github.com/lifull/ldat-homes/blob/master/docs/maintenance.md">maintenance.md</a></li>
      <li>How to execute tests locally: <a href="https://github.com/lifull/ldat-homes/blob/master/docs/run.md">run.md</a></li>
    </ul>
  </li>
  <li>Caution
    <ul>
      <li>Select assignees and Update the status in the Projects area (  <code>Todo</code>,  <code>In Progress</code>......) based on the progress of this issue.</li>
      <li>Link the created PR to the Development section of this issue.</li>
    </ul>
  </li>
</ul>
</details>