- provide(:title, "TestReports")
.is-size-2 Test Reports


.search_form
  = form_with url: test_reports_path, local: true, method: :get do |f|
    .columns.is-mobile
      .column.is-narrow
        .select.is-rounded
          = f.select :search_type, options_for_select(search_type_options, params[:search_type] || "search_word")
      .column.is-half-mobile.is-one-third-tablet.is-one-fifth-desktop
        = f.text_field :search_value, value: params[:search_value], placeholder: "Search...", :class=>"input is-rounded"
      .column.is-narrow
        .select.is-rounded
          = f.select :device, options_for_select(device_options, params[:device])
      .column.is-narrow
        = f.date_field :date_from, value: params[:date_from] || 1.week.ago.to_date, class: "input is-rounded"
      .column.is-narrow
        | ～
      .column.is-narrow
        = f.date_field :date_to, value: params[:date_to] || Date.today, class: "input is-rounded"
      .column.is-narrow
        = f.submit "search", class: "button is-info is-rounded"

.is-size-6 = page_entries_info @page

table.table.is-bordered.is-striped.is-narrow.is-hoverable.is-fullwidth
  thead
      tr
        th[scope="cols"]
          | Job ID
        th[scope="cols"]
          | Command and Options
        th[scope="cols"]
          | Device
        th[scope="cols"]
          | Service
        th[scope="cols"]
          | Category
        th[scope="cols"]
          | Job Start Time
        th[scope="cols"]
          | Total Cases
        th[scope="cols"]
          | Failed Cases
        th[scope="cols"]
          | Duration
        th[scope="cols"]
          | Pass Rate(%)

  tbody
    - @jobs.each do |job|
      tr
        - indent = job_indent(job[:indent_num])
        - stats = job_stats(job[:id])
        td
          = link_to "#{indent}#{job[:id]}".html_safe, "/test_reports/#{job[:id]}".html_safe
        td
          = job[:command_and_option]
        td
          = job[:device]
        td
          = job[:service]
        td
          = job[:category]
        td
          = job[:job_start_time].strftime("%Y/%m/%d %T(%a)")
        td
          = stats[:total_count]
        td
          = stats[:failed_count]
        td
          = job_duration(job[:duration])
        td
          = job_pass_rate(stats[:passed_count], stats[:failed_count])
= paginate @page
