/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/sockets/
/tmp/sockets/*
!/tmp/sockets/.keep

### https://raw.githubusercontent.com/github/gitignore/master/Rails.gitignore

output.html
*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/assets/
/coverage/
/spec/tmp
**.orig
rerun.txt
report.html
pickle-email-*.html
rails_best_practices_output.html

config/initializers/secret_token.rb
config/secrets.yml

/.bundle
/vendor/bundle
.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json
.powenv
.byebug_history
.env

# Docker
docker/mysql/volumes/*
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
*.log

/.vscode
