version: '3'
services:
  app:
    platform: linux/arm64
    build:
      args:
        RAILS_ENV: development
    container_name: bm-app
    volumes:
      - .:/app
    environment:
      - TZ=${TZ}
      - RAILS_ENV=development
      - BUCKY_DB_NAME=bucky_development
