services:
  app:
    build:
      args:
        RAILS_ENV: development
    entrypoint: /app/dev-entrypoint.sh
    command: bundle exec puma -C config/puma.rb config.ru
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      - TZ=${TZ}
      - RAILS_ENV=development
      - BUCKY_DB_NAME=bucky_development

volumes:
  bundle_cache:
