version: '3'
services:
  db:
    image: mysql:5.7.19
    container_name: bm-mysql
    volumes:
      - ./docker/mysql/volumes:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
  app:
    image: bucky-management
    container_name: bm-app
    command: bundle exec puma -C config/puma.rb config.ru
    volumes:
      - .:/app
      - ./tmp/:/app/tmp
      - ./log/:/app/log
    environment:
      - RAILS_ENV=${RAILS_ENV}
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - BUCKY_DB_USERNAME=${BUCKY_DB_USERNAME:-root}
      - BUCKY_DB_PASSWORD=${BUCKY_DB_PASSWORD:-password}
      - BUCKY_DB_HOSTNAME=${BUCKY_DB_HOSTNAME:-db}
      - BUCKY_DB_NAME=${BUCKY_DB_NAME:-db_name}
    depends_on:
      - db
  web:
    build:
      context: docker/nginx
      dockerfile: ./Dockerfile
    container_name: bm-web
    volumes:
      - ./public/:/app/public
      - ./tmp/:/app/tmp
    ports:
      - 80:80
    depends_on:
      - app