version: 2
jobs:
  rails_best_practices:
    docker:
      - image: cimg/ruby:3.0.7-node
    steps:
      - checkout
      - restore_cache:
          key: rails-demo-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install dependencies
          command: |
            bundle config set --local path 'vendor/bundle'
            bundle config set --local with 'test'
            bundle install
      - save_cache:
          key: rails-demo-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run: bundle exec rails_best_practices -f html -c .rails_best_practices.yml 
      - store_artifacts:
          path: rails_best_practices_output.html
  rubocop:
    docker:
      - image: cimg/ruby:3.0.7-node
    steps:
      - checkout
      - restore_cache:
          key: rubocop-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install dependencies
          command: |
            bundle config set --local path 'vendor/bundle'
            bundle install
      - save_cache:
          key: rubocop-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run: bundle exec rubocop -f html --out report.html
      - store_artifacts:
          path: report.html

workflows:
  version: 2
  test_and_static_analysis:
    jobs:
      - rails_best_practices
      - rubocop