// bulma customize variables

$family-sanserif: "Futura", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ",
  Meiryo, sans-serif;
$family-primary: $family-sanserif;

div#navMenu.navbar-menu.is-active {
  background: #363636;
}

a.navbar-item {
  color: rgb(235, 235, 235);
}

div.case-description {
  width: 150px;
  overflow: auto;
}

div.error-message {
  width: 250px;
  overflow: auto;
}

// test_suites#index

a.sort_link {
  color: #4b3d39;
  // text-decoration: none;
  &:hover {
    color: #767676;
  }
}

.select_1 {
  background: hsl(141, 53%, 53%);
}
.select_2 {
  background: hsl(348, 100%, 61%);
}
.select_3 {
  background: hsl(48, 100%, 67%);
}
.select_4 {
  background: hsl(204, 86%, 53%);
}
.select_skip {
  background: hsl(60, 100%, 80%);
}
